.grid {
  display: grid;
  
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas: "banner    banner"
                       "menu container";
}

.inner {
    grid-area: container;
    background-color: rgb(100, 237, 141);
}






